@()(implicit request: RequestHeader)

<div class="row clearfix">
    <div id="debug-mode-alert">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable fade in" id="m1-alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>Samsara Aquarius Debug Mode</h4>
                <div><strong>Note: 在开发模式下，Aquarius将仅加载基本UI元素。 (当前版本：@base.Constants.AQUARIUS_DEV_VERSION)</strong></div>
            </div>
        </div>
    </div>
</div>
