@()(implicit request: RequestHeader)
@main("Oops...") {
    <div class="row clearfix">
        <div id="not-found-area" class="good_font">
            <div class="col-xs-12 col-sm-10 col-lg-12">
                <div class="text-center">
                    <img src="@routes.Assets.versioned("images/404.jpg")" alt="404">
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">404 NOT FOUND</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>外星人掳走了这里的记忆。。。</p>
                        <a href="/"><button class="btn btn-warning" id="ret-index">返回主页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}