@(title: String, info: String)(implicit request: RequestHeader)
@main("Oops...") {
    <div class="row clearfix">
        <div id="server-error-panel" class="good_font">
            <div class="col-md-10">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">@title</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>@info</p>
                        <a href="/"><button class="btn btn-warning" id="ret-index">返回主页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}