@()(implicit request: RequestHeader)

<div class="row clearfix">
    <div class="col-md-10">
        <form role="form" id="comment-form" class="panel panel-default" action='' method="post">
            <div class="form-group">
                <label for="comment">评论区</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">评论</button>
                <button type="reset" class="btn btn-danger">清空</button>
            </div>
        </form>
    </div>
</div>