@import entity.Page
@(page: Page)(implicit request: RequestHeader)

<ul class="pagination pagination-fix">
    <li><a href="@page.path/1">&laquo;</a></li>
    <li><a href="@page.path/@{if (page.now > 1)  page.now-1 else 1}">&lt;</a></li>
    @if(page.now > 4) {
        <li><a href="@page.path/1">1</a></li>
        <li><a href="@page.path/2">2</a></li>
        <li><a href="@page.path/3">3</a></li>
        <li><a>...</a></li>
        <li><a href="@page.path/@{page.now-1}">@{page.now -1}</a></li>
        <li class="active"><a href="@page.path/@page.now">@page.now</a></li>
    } else {
        @for(i <- 1 until page.now) {
            <li><a href="@page.path/@i">@i</a></li>
        }
        <li class="active"><a href="@page.path/@page.now">@page.now</a></li>
        @if(page.now < page.all) {
            <li><a href="@page.path/@{page.now + 1}">@{page.now + 1}</a></li>
        }
    }

    @if(page.now < page.all - 2) {
        <li><a>...</a></li>
        @for(i <- page.all - 2 to page.all) {
            <li><a href="@page.path/@i">@i</a></li>
        }
    } else {
        @for(i <- page.now + 1 to page.all) {
            <li><a href="@page.path/@i">@i</a></li>
        }
    }
    <li><a href="@page.path/@{if (page.now < page.all)  page.now+1 else page.all}">&gt;</a></li>
    <li><a href="@page.path/@page.all">&raquo;</a></li>
</ul>