body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: '文泉驿微米黑', '微软雅黑', 'PingFang SC', 'LiHei Pro', Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.good_font {
    font-family: '文泉驿微米黑', '微软雅黑', 'PingFang SC', 'LiHei Pro', Arial, sans-serif;
}

.img-medium {
    max-width: 400px;
    max-height: 300px;
}

.mgr-10 {
    margin-right: 10px;
}

.mgr-20 {
    margin-right: 20px;
}