body {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: '文泉驿微米黑', '微软雅黑', 'PingFang SC', 'LiHei Pro', Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.good_font {
    font-family: '文泉驿微米黑', '微软雅黑', 'PingFang SC', 'LiHei Pro', Arial, sans-serif;
}