@import entity.Admin
@(info: String, url: String)(implicit request: RequestHeader)
@admin.main("操作失败 | Samsara Aquarius Admin",
    Admin(6, "admin6", null, Some(1), "a@b.com")) {
    <div class="row clearfix">
        <div id="register-mn">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">操作失败</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>@info</p>
                        <button class="btn btn-warning"><a href="@url">返回重试</a></button>
                        <button class="btn btn-primary"><a href="/adm1n6q9">返回Dashboard</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
