@import entity.UserInfo
@(user: UserInfo)(implicit request: RequestHeader)
    @main("个人中心 | Samsara Aquarius") {
        <div class="row clearfix">
            <div id="aquarius-info" class="good_font">
                <div class="col-md-12">
                    @if(base.Constants.AQUARIUS_DEBUG_MODE_FLAG > 0) {
                        @error.DebugMode()
                    }
                    <div class="text-center">
                        <img src="@routes.Assets.versioned("images/61c6258130a63b29b78806e97b1deb6c-biglogo.ico")" alt="LOGO">
                        <p>@user.username</p>
                    </div>
                </div>
            </div>
        </div>
    }