@(form: Form[entity.form.ChangePwdFormData])(implicit request: RequestHeader)

@main("用户密码修改 | Samsara Aquarius") {
    @if(request.session.get("aq_token").isDefined) {
        <div class="row clearfix">
            <div class="col-md-10">
                <div class="good_font">
                    <div class="text-center">
                        <h3>用户密码修改</h3>
                    </div>
                    <form role="form" id="user-profile-form" action='@routes.UserController.changePwd()' method="post">
                        <p>用户名：@request.session.get("username").getOrElse("FUCK")</p>
                        <div class="form-group">
                            <label for="old_pwd" class="login-field-icon">原密码</label>
                            <input type="password" class="form-control" id="old_pwd" name="old_pwd" minlength="8"
                            placeholder="请输入您目前的密码" required>
                        </div>
                        <div class="form-group">
                            <label for="new_pwd">新的密码（8-16位）</label>
                            <input type="password" class="form-control" id="new_pwd" name="new_pwd" minlength="8"
                            placeholder="请输入新密码（8-16位）" required>
                        </div>
                        <div class="form-group">
                            <label for="new_pwd_r">新的密码确认</label>
                            <input type="password" class="form-control" id="new_pwd_r" name="new_pwd_r" minlength="8"
                            placeholder="请再次输入新密码" required>
                        </div>
                        <p id="aq-pw-es" class="text-red"></p>
                        @error.FormErrorInfo("cg_pwd_error")
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-primary" data-loading-text="正在同步...">确认修改</button>
                            <button type="reset" class="btn btn-lg btn-danger">清空</button>
                        </div>
                    </form>
                    <script>
                            // 为了省事直接写这了。。
                            $(document).ready(function () {
                                var npw = $("#new_pwd");
                                var npw_r = $("#new_pwd_r");
                                var wn_es = $("#aq-pw-es");
                                function if_pwd_equals() {
                                    if (npw.val() != npw_r.val()) {
                                        wn_es.html("两次密码输入不一致！");
                                        wn_es.show();
                                    } else {
                                        wn_es.html("");
                                        wn_es.hide();
                                    }
                                }
                                npw.keyup(if_pwd_equals);
                                npw_r.keyup(if_pwd_equals);
                            })
                    </script>
                </div>
            </div>
        </div>
    }
}