@import entity.UserInfo
@(user: UserInfo)(implicit request: RequestHeader)
@main("用户信息 | Samsara Aquarius") {
    <div class="row clearfix">
        <div id="aquarius-info" class="good_font">
            <div class="col-md-6" id="aq-user-info-avatar">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <div class="aq-user-avatar">
                            <img src="/assets/images/avatar/@{
                                s"${user.avatar.getOrElse("default.png")}"
                            }" alt="AVT">
                        </div>
                        <div class="aq-user-key-info">
                            <p>@user.username</p>
                            @if(user.website.isDefined) {

                        }
                            <p><span class="glyphicon glyphicon-time"></span>  加入时间： @user.joinDate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="aq-user-info-tips">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <div class="aq-user-avatar">
                            <div class="label label-success">个性签名</div>
                            <p>@user.tips.getOrElse("无")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}