@import entity.{UserInfo, Article}
@(u: UserInfo, fv: Seq[Article])(implicit request: RequestHeader)
@main(s"用户信息 - ${u.username} | Samsara Aquarius") {
    <div class="row clearfix">
        <div id="aquarius-info" class="good_font">
            <div class="col-md-6" id="aq-user-info-avatar">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <div class="aq-user-avatar">
                            <img src="/assets/images/avatar/@{
                                s"${u.avatar.getOrElse("default.png")}"
                            }" alt="AVT">
                        </div>
                        <div class="aq-user-key-info">
                            <p><strong>@u.username</strong></p>
                            @if(u.website.isDefined) {

                        }
                            <p><span class="glyphicon glyphicon-time"></span>  加入时间： @u.joinDate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="aq-user-info-tips">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <div class="aq-user-avatar">
                            <div class="label label-success">个性签名</div>
                            <p class="aq-user-tips">@u.tips.getOrElse("无")</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="aq-user-info-favorite">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        @views.html.user.favorite(fv)
                    </div>
                </div>
            </div>
        </div>
    </div>
}