@import entity.{User, UserInfo}
@(user: User)(implicit request: RequestHeader)
@main("个人中心 | Samsara Aquarius") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <div class="row clearfix">
        <div id="aquarius-info" class="good_font">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="@routes.Assets.versioned("images/61c6258130a63b29b78806e97b1deb6c-biglogo.ico")" alt="LOGO">
                </div>
            </div>
        </div>
    </div>
}