@()(implicit request: RequestHeader)
@main("关于本站 | Samsara Aquarius") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <div class="row clearfix">
        <div id="aquarius-info" class="good_font">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="@routes.Assets.versioned("images/61c6258130a63b29b78806e97b1deb6c-biglogo.ico")" alt="LOGO">
                    <h2>关于本站</h2>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Aquarius :: Info</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p>关注最实用，最前沿的技术 by <a href="http://www.sczyh30.com">sczyh30</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}