@* t = 1 :: Category Result, t = 2 :: Search Result *@
@import entity.{Article, Category}
@(data: Either[(Category, Seq[Article]), (Seq[(Article, Category)], String)])(implicit request: RequestHeader)
@main(data match {
    case Left(x) => s"${x._1.name} | Samsara Aquarius - 关注最实用，最前沿的技术"
    case Right(y) => "搜索结果 | Samsara Aquarius - 关注最实用，最前沿的技术"
}) {
    <div class="row clearfix">
        <div class="col-md-10">
            <table class="table table-striped">
                <caption>关注最实用，最前沿的技术</caption>
                @if(data.isLeft) {
                    <caption>分类: @data.left.get._1.name，共 @data.left.get._2.length 篇文章</caption>
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>收录日期</th>
                            <th>分类</th>
                            <th>评论数/评论区</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(info <- data.left.get._2) {
                        <tr>
                            <td><a href="@info.url">@info.title</a></td>
                            <td>Author</td>
                            <td>@info.updateDate</td>
                            <td>@data.left.get._1.name</td>
                            <td><a href="/@info.id/comments">88</a></td>
                        </tr>
                    }
                    </tbody>
                } else {
                    <caption>搜索结果: @data.right.get._2, 共 @data.right.get._1.length 篇文章</caption>
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>收录日期</th>
                            <th>分类</th>
                            <th>评论数/评论区</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((info, category) <- data.right.get._1) {
                        <tr>
                            <td><a href="@info.url">@info.title</a></td>
                            <td>Author</td>
                            <td>@info.updateDate</td>
                            <td>@category.name</td>
                            <td><a href="/@info.id/comments">88</a></td>
                        </tr>
                    }
                    </tbody>
                }

            </table>
        </div>
    </div>
}
