@import entity.Category
@import entity.Page
@(data: Seq[(Category, Int)], page: Page)(implicit request: RequestHeader)

@main("文章分类 | Samsara Aquarius - 关注最实用，最前沿的技术") {
    <div class="row clearfix">
        <div class="col-md-10">
            <table class="table table-striped">
                <caption>文章分类</caption>
                <thead>
                    <tr>
                        <th>分类</th>
                        <th>文章数目</th>
                    </tr>
                </thead>
                <tbody>
                @for((category, nums) <- data) {
                    <tr>
                        <td><a href="/category/@category.abbr">@category.name</a></td>
                        <td>@nums</td>
                    </tr>
                }
                </tbody>
            </table>
            @components.pagination(page)
        </div>
    </div>
}