@import base.Constants.UserCommentInfo
@import entity.Comment
@import entity.Article
@(comments: Seq[Comment], article: Article, users: Seq[UserCommentInfo])(implicit request: RequestHeader)

    @main("文章评论 | Samsara Aquarius - 关注最实用，最前沿的技术") {
    <div class="row clearfix">
        <div class="col-md-10">
            <div class="aq-ca">
                <div class="panel panel-default" id="aq-article">
                    <div class="panel-body text-center">
                        <a href="@article.url">@article.title</a>
                    </div>
                </div>
            </div>
            <div class="aq-comment-tab">
                <p><span class="label label-success">@comments.length</span> 条评论</p>
            </div>
            <div class="aq-comment">
            @for(c <- comments; i <- 1 to comments.length; user <- users) {

                    <div class="panel panel-default panel-body aq-comment-post">
                        <div class="aq-comment-avatar">
                            <img src="/assets/images/avatar/@{s"${user._2.getOrElse("default")}.png"}" alt="avatar">
                        </div>
                        <div class="aq-comment-body">
                            <a href="/user/@user._1">@user._1</a>
                            <!--<span class="text-right">@c.time.toLocalDateTime</span>-->
                            <p>@c.text</p>

                        </div>
                    </div>
            }
            </div>
        </div>
        @if(request.session.get("aq_token").isDefined) {

        } else {
            @error.RequireLogin("评论此文章")
        }
    </div>
    }