@import entity.Page
@import base.Constants.IndexArticleRes
@(data: Seq[IndexArticleRes], page: Page)(implicit request: RequestHeader)

    @main("Samsara Aquarius - 关注最实用，最前沿的技术") {
        @if(base.Constants.AQUARIUS_DEBUG_MODE_FLAG > 0) {
            @error.DebugMode()
        }
        <div class="row clearfix">
            <div class="col-md-12">
                <table class="table table-striped">
                    <caption>关注最实用，最前沿的技术</caption>
                    <thead>
                        <tr>
                            <th>文章标题</th>
                            <th>作者</th>
                            <th>收录日期</th>
                            <th>分类</th>
                            <th>评论</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((info, category, nc) <- data) {
                        <tr>
                            <td><a href="/@info.id/comments">@info.title</a></td>
                            <td>@info.author</td>
                            <td>@info.updateDate</td>
                            <td>@category.name</td>
                            <td>@nc</td>
                        </tr>
                    }
                    </tbody>
                </table>
                @components.pagination(page)
            </div>
        </div>
    }
