@(loginForm: Form[entity.form.LoginFormData])(implicit request: RequestHeader)
@main("用户登录 | Samsara Aquarius") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/main.css")">
    <div class="good_font">
        <div class="text-center">
            <img src="@routes.Assets.versioned("images/61c6258130a63b29b78806e97b1deb6c-biglogo.ico")" alt="LOGO">
            <h2>用户登录</h2>
        </div>
        <form role="form" id="login-form" action='@routes.UserController.login()' method="post">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username"
                placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password"
                placeholder="请输入密码">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">登录</button>
                <button type="reset" class="btn btn-danger">清空</button>
            </div>
        </form>
    </div>
}
