@import entity.UserToken
@import components.{headerMain, footerMain}
@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
    </head>
    <body>
        @headerMain()
        <div class="container">
            @content
        </div>
        @footerMain()
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>
